
@font-face {
    font-family: 'plex-sans-light';
    src: url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-light.woff") format("woff"), url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'plex-sans-light-italic';
    src: url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-lightitalic.woff") format("woff"), url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-lightitalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: 'plex-sans-regular';
    src: url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-regular.woff") format("woff"), url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'plex-sans-regular-italic';
    src: url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-regularitalic.woff") format("woff"), url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-regularitalic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: 'plex-sans-medium';
    src: url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-medium.woff") format("woff"), url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'plex-sans-medium-italic';
    src: url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-mediumitalic.woff") format("woff"), url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-mediumitalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: 'plex-sans-semibold';
    src: url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-semibold.woff") format("woff"), url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'plex-sans-semibold-italic';
    src: url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-semibolditalic.woff") format("woff"), url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-semibolditalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic
}

@font-face {
    font-family: 'plex-sans-bold';
    src: url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-bold.woff") format("woff"), url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'plex-sans-bold-italic';
    src: url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-bolditalic.woff") format("woff"), url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-bolditalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: 'plex-mono-light';
    src: url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-light.woff") format("woff"), url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'plex-mono-light-italic';
    src: url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-lightitalic.woff") format("woff"), url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-lightitalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: 'plex-mono-regular';
    src: url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-regular.woff") format("woff"), url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'plex-mono-regular-italic';
    src: url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-regularitalic.woff") format("woff"), url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-regularitalic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: 'plex-mono-medium';
    src: url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-medium.woff") format("woff"), url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: 'plex-mono-medium-italic';
    src: url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-mediumitalic.woff") format("woff"), url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-mediumitalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: 'plex-mono-semibold';
    src: url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-semibold.woff") format("woff"), url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'plex-mono-semibold-italic';
    src: url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-semibolditalic.woff") format("woff"), url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-semibolditalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic
}

@font-face {
    font-family: 'plex-mono-bold';
    src: url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-bold.woff") format("woff"), url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'plex-mono-bold-italic';
    src: url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-bolditalic.woff") format("woff"), url("https://1.www.s81c.com/common/fonts/plex/v1/ibmplexmono-bolditalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic
}

.panelCont {
    background-color: #021f46;
    border: 3px solid rgba(208,228,255,0.2);
    border-radius: 3px;
    outline : 0px;
    min-height:260px; // for some consistency. 
}

BODY {
    background-color: #012243;
    -webkit-transform: translate3d(0, 0, 0);
    font-family: "plex-sans-regular", Helvetica Neue, Arial, Verdana, helvetica;
    /* more specific animation properties here */
}

.row-close {
    background-color: rgba(0,0,0,0);
    border-width: 0px;
}

.panel div.panel-extra .extra {
    border-width:0px;
    opacity: 0.2;
}

.panel div.panel-extra .extra:hover {
    border-width:0px;
    opacity: 1;
}

.row-button {
    border-width:0px;
    padding-left: 0px;
    padding-right: 6px;
}

div.row-open {
    opacity: 0.2;
}
div.row-open:hover {
    opacity: 1;
}

div.row-close.span12 {
    opacity: 0.2;
}

div.row-close.span12:hover {
    opacity: 1;
}

.table-striped tbody>tr:nth-child(odd)>td {
    background-color: rgba(255, 247, 247, 0.06);
    border: 0px;
    outline:none;
}
.table-striped tbody>tr:nth-child(even)>td {
    border: 0px;
}

.small {
    font-size:100%
}

.brand.ng-binding {
    font-family: "plex-sans-bold";
}

.big {
   font-size:180%;
}

span.row-button.row-text.panel-title.ng-binding {
    padding-left: 8px;
}


@media screen and (min-width:1200px) {
.row-fluid [class*="span"] {
    margin-left: 1%;
    width:100%;
}

.row-fluid .span1 {
    width: 7.41666666667%;
}

.row-fluid .span2 {
    width: 15.8333333333%;
}

.row-fluid .span3 {
    width: 24.25%
}

.row-fluid .span4 {
    width: 32.666666666666%;
}

.row-fluid .span5 {
    width: 41.666666666666%;
}

.row-fluid .span6 {
    width: 49.5%;
}

.row-fluid .span7 {
    width: 57.916666666666%;
}

.row-fluid .span8 {
    width: 66.333333333333%;
}

.row-fluid .span9 {
    width: 74.75%;
}

.row-fluid .span10 {
    width: 83.16666666666%;
}

.row-fluid .span11 {
    width: 91.58333333333%;
}

.row-fluid .span12 {
    width: 100%;
}

}

/* All button 

background-color: lightblue;
padding: 1px 6px 1px 6px;
border-radius: 4px;
color:black;

float: right

*/
